.categories-container {
  padding: 50px 20px;
  text-align: center;
  /* color: white; */
  background-color: #f9f9f9;
}


.categories-container h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.category-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.category-card:hover {
  transform: translateY(-5px);
  
}

.category-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category-card:hover .category-overlay {
  opacity: 1;
  
}

.category-overlay h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.category-overlay p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: white;
}

.category-overlay button {
  background: #b88e2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.category-overlay button:hover {
  background: #a07a26;
}

/* Responsive */
@media (max-width: 768px) {
  .categories-container h2 {
    font-size: 2rem;
  }

  .categories-grid {
    /* grid-template-row: 1fr; */
    display: flex;
  }

  .category-card img {
    height: 250px;
  }
}